<%= form_with(model: @post, local: true) do |form|%>
<div>
    <% if @post.errors.present?%>
    <%= @post.errors.full_messages.join(', ')%>
    <% end %>
</div>
<div>
    <%= form.label :title%><br>
    <%= form.text_field :title %>
</div>
<div>
    <%= form.label :post %><br>
    <%= form.text_area :post, cols: 50, rows:5%><br>
    <%= form.submit %>
</div>

<% end %>