<%= form_with(model: @post, local: true) do |form|%>
<div>
    <% if @post.errors.present?%>
    <%= @post.errors.full_messages.join(', ')%>
    <% end %>
</div>
<div>
    <%= form.label :title%><br>
    <%= form.text_field :title, class: "form-control col-md-6" %>
</div>
<div>
    <%= form.label :body %><br>
    <%= form.text_area :body, class: "form-control col-md-6"%><br>
    <%= form.submit "Submit", :class => "btn btn-outline-primary" %>
</div>

<% end %>