<%= form_with(model: [@post, @comment], local: true) do |form|%>

<div>
    <% if @comment.errors.present? %>
    <%= @comment.errors.full_messages.join(', ')%>
    <% end %>
</div>

<div>
    <h5><%= form.label :body, "Comment" %></h5>
    <%= form.text_area :body, class: "col-md-6 form-control", placeholder:  
    current_user ? "What's on your mind?" : "Please sign in to post a comment.",
    current_user ? "" : :disabled => true  %>
    <br>
    <%= form.submit "Submit", :class => "btn btn-outline-primary",
    current_user ? "" : :disabled => true %>
</div>

<% end %>